$x-large: 32px;
$large: 30px;
$medium: 26px;
$normal: 18px;
$small: 14px;
$x-small: 12p;

@mixin media-font-size() {
  @media screen and (min-width: 1024px){
    font-size: 40px;
  }

  @media screen and (max-width: 1024px){
    font-size: 32px;
  }

  @media screen and (max-width: 768px){
    font-size: 26px;
  }

  @media screen and (max-width: 500px){
    font-size: 18px;
  }

  @media screen and (max-width: 420px){
    top: 15%;
    font-size: 16px;
  }

  @media screen and (max-width: 375px){
    font-size: 15px;
  }
}

